doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title GLEN'S BAKEHOUSE
        link(rel="icon",href="https://freepngimg.com/thumb/strawberry/1-strawberry-png-images.png",type="image/png")
        style 
            include ./card6.css
        script(src="views/card6.js")
    body 
         div#bo 
            div#main
                div.na    
                    nav 
                        ul 
                            li: a#ho(href="/Home") Home
                            li: a(href="/about") About Me
                            li: a(href="/contact") Contact Me 
                            li: a(href="/Home#footer") Subscribe
                div#content
                    img#coni(src="static/glen_p.jpg")
                    p#cont <u>GLEN'S BAKEHOUSE</u> <br> I always love going back to this place. Whether it’s the relaxing atmosphere or the delicious food or the strong whiff of the pastries as you enter, I can never say. I especially love this branch because the outdoors remind me of the snug French cafes that I once visited. They have a very extensive menu which I am sure are all delicious but their mango cheesecake and the butter croissants are very very scrumptious. As long as I am in Bangalore, I will keep visiting Glen’s.. and keep trying the pasta's as it is wondeful to taste buds surely you will love to have it.This is is a real hidden gem when it comes to food and service. Very understated but super cool. We visited 3 times in 2 days and had different food each time.all.very delicious and fresh. The bakery products have great taste and flavors.
                    p#cont2 <u>Ambience:</u><br> Glen's is our place to go catch up over desserts and even experimenting sometimes. Mostly love their chocolate cakes, hot chocolate and cupcakes. Even their burgers and sandwiches are quite nice. Didn't quite like though a mango topped and filled cake. I love that they have an outdoor smoking section. One especially which faces their bakery with all the goodies in full display. But the constant ogling at food doesn't really help as it stimulates never ending cravings! Moreover, the tables and chairs are fixed, so if someone who sits inside wants to go to the restroom, everyone should stand up for him.The restaurant is clean and neat generally. Especially, the  in the balcony for lunch and people who were beside my table just left at that time. As soon as the people were entering they feel it's better to accomadate usual places be free as ambience is very natural and best of all kinds of desserts shops  <br> <u>Quality and prices: </u><br>In my opinion, the fame and reputation of a restaurant do not depend on the variety only, but rely more on chefs ability and talent. So,  I prefer if the GLEN'S BAKEHOUSE restaurant becomes more careful about the high level talent of their chefs for every category. QUALITY IS BEST OF ALL GO AND VISIT WITHOUT ANY INTENTIONS!! <br>The level of food prices differ from person to person depending on their perspectives on food. Some people think the prices are reasonable compared to the big portion that the restaurant is famous for. Other people reckon and opine that the prices are slightly high comparing to the quality of the food. In general prices are considered about the average if we take into account that dishes are made of fresh ingredients from scratch.<br> <u>PRICE RANGES FROM 100-300 PER PERSON</u>
                div#comments
                    form(method="POST" action="/card6")
                        p.txt Name: 
                        input(type="text" required name="name" id="name")
                        p.txt1 Comments: 
                        input(type="text" required name="comm" id="comm")
                        br
                        input#sub(type='submit')
                    -let v=0
                    -da.reverse()
                    for data1 in da
                        div.comm    
                            h5.nam= data1.name
                            p.co= data1.con
                        - v=v+1
                        if v==8
                            - break
                div#like
                    button#li(onclick="func()") &#10084;
                    br 
                    p#counter #{l1}
         footer#footer
            div#ql
                p#q Quick Links
                ul#qlinks
                    li: a.hon(href="/Home") Home
                    li: a.hon(href="/about") About Me
                    li: a.hon(href="/contact") Contact Me 
                    li: a.hon(href="/Home#footer") Subscribe
            div
                p#subh Please enter your email to get timely updates on new content!!! 
                form#email(method="POST" action="/email" placeholder="Enter your email")
                    input#em(type="email", name="em")
                    input#esu(type="submit") 
                div#sm 
                    a.lin(href='#')
                        img.logo(src="static/ilogo.png")
                    a.lin(href='#')
                        img.logo(src="static/ilogo.png")
                    a.lin(href='#')
                        img.logo(src="static/ilogo.png")
    script. 
        const update=document.getElementById("li")
        function func(){
            fetch("/like6",{method:'put'})
            fetch("/card6",{method:'get'})
            }
