doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CHEESE CAKE STUDIO
        link(rel="icon",href="https://freepngimg.com/thumb/strawberry/1-strawberry-png-images.png",type="image/png")
        style 
            include ./card1.css
        script(src="views/card1.js")
    body 
         div#bo 
            div#main
                div.na    
                    nav 
                        ul 
                            li: a#ho(href="/Home") Home
                            li: a(href="/about") About Me
                            li: a(href="/contact") Contact Me 
                            li: a(href="/Home#footer") Subscribe
                div#content
                    img#coni(src="static/cheesecake.webp")
                    p#cont <u>CHEESE CAKE STUDIO</u> <br>People like the Cheesecake Studio for many reasons, I was more than disappointed about the “white chocolate raspberry truffle”. It was very heavy and I couldn’t find the flavor of the white chocolate and it was more a raspberry jam than fresh raspberries. Moreover, they put some Chantilly cream on my cheesecake and when I tried to take it off, I discovered that the fresh Chantilly was hiding the old one. The first Chantilly cream they put was not fresh and didn’t have a good flavor.When I first got there for dinner, I thought everything was perfect. First, romantic, dark lighting made a satisfactory atmosphere. Decorations were simple and cozy. The restaurant is always elegantly decorated. There are high ceiling and swanky décor bathed in yellow lights. It makes us feel warm.Feel to try!!
                    p#cont2 <u>Ambience:</u><br>The inside chairs have cushions, so it is comfortable. However, the table is not big enough to put dishes on. Moreover, the tables and chairs are fixed, so if someone who sits inside wants to go to the restroom, everyone should stand up for him.The restaurant is clean and neat generally. Especially, the ladies’ restroom is very clean. Everything looked good until an experience I will never forget.I sat in the balcony for lunch and people who were beside my table just left at that time. As soon as the people were gone, 4-5 pigeons came to the table and ate leftovers with their beaks and they walked over the food and plates. On the plate, there was whipping cream so that the cream was stuck to pigeons’ feet (I took a picture of that). It was very disgusting. Afterward, I realized that they sometimes don’t clean food crumbs or stain on tables enough. If there is a specific threat to public health because of unsanitary conditions like this, you should contact Environmental Health.<br> <u>Quality and prices: </u><br>In my opinion, the fame and reputation of a restaurant do not depend on the variety only, but rely more on chefs ability and talent. So,  I prefer if the Cheesecake Studio restaurant becomes more careful about the high level talent of their chefs for every category.<br>The level of food prices differ from person to person depending on their perspectives on food. Some people think the prices are reasonable compared to the big portion that the restaurant is famous for. Other people reckon and opine that the prices are slightly high comparing to the quality of the food. In general prices are considered about the average if we take into account that dishes are made of fresh ingredients from scratch.<br> <u>PRICE RANGES FROM 200-300 PER PERSON</u>
                div#comments
                    form(method="POST" action="/card1")
                        p.txt Name: 
                        input(type="text" required name="name" id="name")
                        p.txt1 Comments: 
                        input(type="text" required name="comm" id="comm")
                        br
                        input#sub(type='submit')
                    -let v=0
                    -da.reverse()
                    for data1 in da
                        div.comm    
                            h5.nam= data1.name
                            p.co= data1.con
                        - v=v+1
                        if v==8
                            - break
                div#like
                    button#li(onclick="func()") &#10084;
                    br 
                    p#counter #{l1}
         footer#footer
            div#ql
                p#q Quick Links
                ul#qlinks
                    li: a.hon(href="/Home") Home
                    li: a.hon(href="/about") About Me
                    li: a.hon(href="/contact") Contact Me 
                    li: a.hon(href="/Home#footer") Subscribe
            div
                p#subh Please enter your email to get timely updates on new content!!! 
                form#email(method="POST" action="/email" placeholder="Enter your email")
                    input#em(type="email", name="em")
                    input#esu(type="submit") 
                div#sm 
                    a.lin(href='#')
                        img.logo(src="static/ilogo.png")
                    a.lin(href='#')
                        img.logo(src="static/ilogo.png")
                    a.lin(href='#')
                        img.logo(src="static/ilogo.png")
    script. 
        const update=document.getElementById("li")
        function func(){
            fetch("/like1",{method:'put'})
            fetch("/card1",{method:'get'})
            }
